*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: "font";
    src: url(./fonts/Raleway-ExtraBold.woff),
         url(./fonts/Raleway-ExtraBold.woff2);
}
@font-face {
    font-family: "font1";
    src: url(./fonts/Raleway-Regular.woff),
         url(./fonts/Raleway-Regular.woff2);
}
html {
    height: 100%;
}
.main {
    height: 100%;
    display: flex; 
    object-fit: cover; 
    position: relative; 
    margin: 0px; 
}
.lol{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ideal{
    color: black;
    z-index: 1;
    margin: 0 auto;
    font-size: 120px;
    width: 739px;
    height: 408px;
    text-align: center;
    font-family: "font1";
  }
  .ideal::after{
    content: "*";
    }
.ideal:hover::before {
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.'; 
    white-space: pre; 
    position: absolute; 
    width: 660px;
    height: 90px;
    right: 0px; 
    margin: 180px 20px 562px 834px;
    border-radius: 15px 15px;
    font-size: 33px; 
    font-family: "font";
    text-align: left; 
    border: 3px solid black; 
    background-color: white;  
    box-shadow: 0 5px 0 black; 
    color: rgb(0, 0, 0);
  }
  .ideal:hover + .lol {
    background-color: gray;
    opacity: 0.8;
  }
  .ideal:hover{
    color: gray; 
  }
